public/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>LikesMan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,600,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="./css/woff.css" type="text/css" rel="stylesheet">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <header class="header">
      <div class="headerWrap">
        <section class="logo"><a href="#"></a></section>
        <nav class="headerMenu">
          <div class="headerMenuItem headerMenuItemActive"><a href="#">Дрожжи</a></div>
          <div class="headerMenuItem"><a href="#">Специи</a></div>
          <div class="headerMenuItem"><a href="#">Кизельгур</a></div>
          <div class="headerMenuItem"><a href="#">моющие средства</a></div>
          <div class="headerMenuItem"><a href="#">Солод</a></div>
          <div class="headerMenuItem"><a href="#">Хмель</a></div>
        </nav>
        <section class="cart">
          <button class="buttonSearch"><span data-glyph="magnifying-glass" class="oi"></span></button>
          <button class="buttonGradient">
            <div class="buttonGradientText">Алексей<em>&#9658;</em></div>
          </button>
          <button class="buttonCart"><span data-glyph="cart" class="oi"></span><span class="buttonCartCount">3</span></button>
        </section>
      </div>
    </header>
    <main>
      <section class="question">
        <div class="questionHeader">
          <h1> Вопрос-ответ</h1>
        </div>
        <nav class="questionFilter">
          <div class="questionFilterItem questionFilterItemActive"><a href="#">Все</a></div>
          <div class="questionFilterItem"><a href="#">Вопросы технологу</a></div>
          <div class="questionFilterItem"><a href="#">Качество продукции</a></div>
          <div class="questionFilterItem"><a href="#">Общие вопросы</a></div>
          <div class="questionFilterItem"><a href="#">Доставка и оплата</a></div>
        </nav>
      </section>
      <section class="questionContent">
        <sidebar class="questionSidebar">
          <div class="questionSidebarBlock">
            <h2>Задайте нам вопрос</h2>
            <p>Нам задали более 1000 вопросов за всю историю нашего сайта. Мы понимаем, как важно оперативно отвечать на возникающие вопросы и поэтому разделили вопросы на группы для удобного поиска.</p>
            <button class="buttonGradient">
              <div class="buttonGradientText">задать вопрос</div>
            </button>
          </div>
        </sidebar>
        <section class="questionAnswers">
          <article class="questionAnswer">
            <time class="questionAnswerDate">11 января 2016</time>
            <header class="questionAnswerHeader">Михаил Бобровкин</header>
            <div class="questionAnswerText">Здравствуйте, у вас бывает или можете заказать через вашу организацию - хмель шишковой ранний московский и дрожжи верхового брожения  Safbrew T-58?</div>
            <div class="questionAnswerQuotes">
              <figure class="questionAnswerQuoteAvatar"><img src="img/avatar.jpg" alt=""></figure>
              <blockquote class="questionAnswerQuote">
                <time class="questionAnswerQuoteDate">11 января 2016</time>
                <header class="questionAnswerHeader">Олег Тимофеев / Менеджер по работе с клиентами</header>
                <div class="questionAnswerQuoteText">Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.</div>
              </blockquote>
            </div>
          </article>
          <article class="questionAnswer">
            <time class="questionAnswerDate">11 января 2016</time>
            <header class="questionAnswerHeader">Михаил Бобровкин</header>
            <div class="questionAnswerText">Здравствуйте, у вас бывает или можете заказать через вашу организацию - хмель шишковой ранний московский и дрожжи верхового брожения  Safbrew T-58?</div>
            <div class="questionAnswerQuotes">
              <figure class="questionAnswerQuoteAvatar"><img src="img/avatar.jpg" alt=""></figure>
              <div class="questionAnswerQuoteColumn">
                <blockquote class="questionAnswerQuote">
                  <time class="questionAnswerQuoteDate">11 января 2016</time>
                  <header class="questionAnswerHeader">Олег Тимофеев / Менеджер по работе с клиентами</header>
                  <div class="questionAnswerQuoteText">Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.</div>
                </blockquote>
                <blockquote class="questionAnswerQuote">
                  <time class="questionAnswerQuoteDate">11 января 2016</time>
                  <header class="questionAnswerHeader">Олег Тимофеев / Менеджер по работе с клиентами</header>
                  <div class="questionAnswerQuoteText">Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.</div>
                </blockquote>
              </div>
            </div>
          </article>
        </section>
      </section>
    </main>
    <footer class="footer">
      <div class="footerTop">
        <div class="footerTopWrap">
          <nav class="footerMenu">
            <div class="footerMenuItem"><a href="#">О компании</a></div>
            <div class="footerMenuItem"><a href="#">Поставщики</a></div>
            <div class="footerMenuItem"><a href="#">Блог компании</a></div>
            <div class="footerMenuItem"><a href="#">Вопрос-ответ</a></div>
            <div class="footerMenuItem"><a href="#">Контакты</a></div>
          </nav>
          <section class="footerPay"><img src="img/pay.png" alt=""><span>К оплате принимаются <br>банковские карпты <br>VISA/MasterCard</span></section>
        </div>
      </div>
      <div class="footerBottom">
        <div class="footerBottomWrap">
          <div class="footerCopyright">Все права защищены 2015</div>
          <div class="footerContact">
            <div class="footerContactPhone"><a href="tel:00000"><span></span>+7 (812) 676-56-56</a></div>
            <div class="footerContactSocial"><a href="#"></a><a href="#"></a><a href="#"></a><span></span><a href="#"></a></div>
          </div>
          <div class="footerStudio">Создание – <a href="#">Danke</a></div>
        </div>
      </div>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>

assets/template/index.jade
extends _layout
//- background-image linear-gradient(135deg, #75b94c 0%, #03b2d7 100%)
block content
    section.question
        .questionHeader
            h1  Вопрос-ответ
        nav.questionFilter
            .questionFilterItem.questionFilterItemActive
                a(href="#") Все
            .questionFilterItem
                a(href="#") Вопросы технологу
            .questionFilterItem
                a(href="#") Качество продукции
            .questionFilterItem
                a(href="#") Общие вопросы
            .questionFilterItem
                a(href="#") Доставка и оплата
    section.questionContent
        sidebar.questionSidebar
            .questionSidebarBlock
                h2 Задайте нам вопрос
                p Нам задали более 1000 вопросов за всю историю нашего сайта. Мы понимаем, как важно оперативно отвечать на возникающие вопросы и поэтому разделили вопросы на группы для удобного поиска.
                button.buttonGradient
                    .buttonGradientText
                        | задать вопрос
            .questionSidebarBlock.questionSidebarBlockPhoto
                h2 С фотофоном.
                p Нам задали более 1000 вопросов за всю историю нашего сайта. Мы понимаем, как важно оперативно отвечать на возникающие вопросы и поэтому разделили вопросы на группы для удобного поиска.
                button.buttonGradient
                    .buttonGradientText
                        | задать вопрос
        section.questionAnswers
            article.questionAnswer
                time.questionAnswerDate
                    | 11 января 2016
                header.questionAnswerHeader
                    | Михаил Бобровкин
                .questionAnswerText Здравствуйте, у вас бывает или можете заказать через вашу организацию - хмель шишковой ранний московский и дрожжи верхового брожения  Safbrew T-58?
                .questionAnswerQuotes
                    figure.questionAnswerQuoteAvatar
                        img(src="img/avatar.jpg", alt="")
                    blockquote.questionAnswerQuote
                        time.questionAnswerQuoteDate
                            | 11 января 2016
                        header.questionAnswerHeader
                            | Олег Тимофеев / Менеджер по работе с клиентами
                        .questionAnswerQuoteText
                            | Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.
            article.questionAnswer
                time.questionAnswerDate
                    | 11 января 2016
                header.questionAnswerHeader
                    | Михаил Бобровкин
                .questionAnswerText Здравствуйте, у вас бывает или можете заказать через вашу организацию - хмель шишковой ранний московский и дрожжи верхового брожения  Safbrew T-58?
                .questionAnswerQuotes
                    figure.questionAnswerQuoteAvatar
                        img(src="img/avatar.jpg", alt="")
                    .questionAnswerQuoteColumn
                        blockquote.questionAnswerQuote
                            time.questionAnswerQuoteDate
                                | 11 января 2016
                            header.questionAnswerHeader
                                | Олег Тимофеев / Менеджер по работе с клиентами
                            .questionAnswerQuoteText
                                | Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.
                        blockquote.questionAnswerQuote
                            time.questionAnswerQuoteDate
                                | 11 января 2016
                            header.questionAnswerHeader
                                | Олег Тимофеев / Менеджер по работе с клиентами
                            .questionAnswerQuoteText
                                | Здравствуйте, Елена! Забрать можно, но с наличными деньгами мы не работаем. Оплата возможна банковской картой, либо наличными в отделении банка, по указанным на сайте реквизитам. Режим работы в Санкт-Петербурге: понедельник – пятница с 9 до 17.
